{{> header  usuario='user' }}
<h1 class="mt-4 mr-3 ml-3 mb-4" style="color:#003653;">Solicitud de servicio</h1>
<div class="card ml-3 mr-3 mt-3">
	<div class="card-header font-weight-bold">Datos del empleado</div>
	<div class="card-body">
        <div class="row" id="datosEmp" >
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput">No.de empleado</span>
					</div>
					<input type="text" name="idEmp" id="idEmp" class="form-control" minlength="1" maxlength="100" value="{{user.clave}}" 
					data-idEmp= "{{user.id}}" readonly required>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput">Nombre</span>
					</div>
					<input type="text" name="aPat" id="aPat"  class="form-control" minlength="1" maxlength="100" value="{{user.aPat}}" readonly required>
					<input type="text" name="aMat" id="aMat"  class="form-control" minlength="1" maxlength="100" value="{{user.aMat}}" readonly required>
					<input type="text" name="nombre" id="nombre"  class="form-control" minlength="1" maxlength="100" value="{{user.nombre}}" readonly required>					
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput" style="width: 100%; padding-right: 30px;">Área</span>
					</div>
					<input name="area" id="area" type="text" minlength="1" maxlength="1000" class="form-control" value="{{user.depto}}" readonly required>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput" style="width: 100%; padding-right: 25px;">CURP</span>
					</div>
					<input name="curp" id="curp" type="text" minlength="1" maxlength="1000" class="form-control" value="{{user.curp}}" readonly required>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput" style="width: 100%; padding-right: 17px;">Correo</span>
					</div>
					<input type="text" name="mail" id="mail" class="form-control" minlength="1" maxlength="100" value="{{user.correo}}" readonly required>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput">Teléfono</span>
					</div>
					<input name="tel" id="tel" type="text" readonly minlength="1" maxlength="1000" class="form-control" value="{{user.tel}}" required>                                                                                                                                                                
				</div>
			</div>		
		</div>
    </div>
</div>
<form id="solicitud" method="post"  enctype="multipart/form-data">
    <div class="card ml-3 mr-3 mt-3 mb-3">
        <div class="card-header font-weight-bold">Datos del equipo solicitado</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Folio</span>
                        </div>
                        <input type="text" name="folio" id="folio" class="form-control" minlength="1" maxlength="100" value="UDI-CMNM-" readonly="true">
                        <input type="text" name="folio" id="folio" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Laboratorio</span>
                        </div>
                        <input type="text" name="laboratorio" id="laboratorio" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 control-label" >
				    <div class="input-group  date input-group-sm mb-3" data-date=""  data-link-format="yyyy-mm-dd"> 
					    <div class="input-group-prepend">
					    	<span class="input-group-text maxInput">Fecha de solicitud</span>
					    </div>
					    <input class="form-control text-center" id="fechaI" name="fechaI" placeholder="YYYY-MM-DD" required>
				    </div>	
			    </div>
            </div>
            <div class="row" id="datosEmp" >
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Marca</span>
                        </div>
                        <input type="text" name="marca" id="marca" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">No. de serie</span>
                        </div>
                        <input type="text" name="noSerie" id="noSerie" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Modelo</span>
                        </div>
                        <input type="text" name="modelo" id="modelo" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Serial institucional </span>
                        </div>
                        <input type="text" name="serial" id="serial" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">IP</span>
                        </div>
                        <input type="text" name="ip" id="ip" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Tipo de computadora</span>
                        </div>
                        <input type="text" name="tipo" id="tipo" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>	
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Reparación del equipo </span>
                        </div>
                        <input type="text" name="reparacion" id="reparacion" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Instalación de software</span>
                        </div>
                        <input type="text" name="instalacion" id="instalacion" class="form-control" minlength="1" maxlength="100" value="" 
                        required>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text maxInput">Observaciones del operador</span>
                        </div>
                        <textarea type="text" name="observaciones" id="observaciones" class="form-control" minlength="1" maxlength="100" value="" 
                        required></textarea>
                    </div>
                </div>				
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <button id="btn-servicio" type="submit" class="btn btn-success btn-sm btn-block">Finalizar</button>
                </div>
            </div>
        </div>
    </div>
 </form>
<div style="height: 40px;"></div>
<script type="text/javascript" src="../public/js/solicitud.js"></script>
{{> footer }}